header {
    display: grid;
    grid-row: 1;
    grid-column: 1 / 8;
    background-image: linear-gradient(to right, rgb(10, 130, 177), rgb(233, 142, 22));
    text-align: center;
}

.grid-container {
    display: grid;
}

.searchContainer {
    display: grid;
    border-right: solid black 2px;
    grid-row: 1 / 8;
    grid-column: 1 / 3;
    align-content: center;
    justify-items: stretch;
    row-gap: 10px;
}

.searchBox {
    grid-row: 2;
    grid-column: 1;
}

.submit {
    grid-row: 3;
    grid-column: 1;
}

.searchHistory {
    display: grid;
    row-gap: 10px;
}

.cityForecast {
    grid-row: 1 / 4;
    grid-column: 3 / 8;
    padding: 10px;
}

.card-title {
    padding: 15px;
    grid-row: 4;
    grid-column: 3;
}

.forecast {
    display: grid;
    grid-row: 5;
    padding: 15px;
}

.day1 {
    padding: 15px;
    grid-row: 5 / 5;
    grid-column: 3 / 4;
}

.day2 {
    padding: 15px;
    grid-row: 5 / 5;
    grid-column: 4 / 5;
}

.day3 {
    padding: 15px;
    grid-row: 5 / 5;
    grid-column: 5 / 6;
}

.day4 {
    padding: 15px;
    grid-row: 5 / 5;
    grid-column: 6 / 7;
}

.day5 {
    padding: 15px;
    grid-row: 5 / 5;
    grid-column: 7 / 8;
}

.low {
    background-color: rgb(41, 241, 41);
}

.moderate {
    background-color: rgb(243, 243, 39);
}

.high {
    background-color: rgb(250, 166, 10);
}

.very-high {
    background-color: rgb(155, 0, 0);
}

.danger {
    background-color: rgb(230, 22, 230);
}
